nav {
    background-color: rgb(78, 122, 245);
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 20px;
}

li {
    display: inline;
    font-size: 20px;
    margin-right: 40px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    cursor: pointer;
    text-decoration: underline;
}
