.container {
    margin: 0 10px;
}

button {
    margin-right: 10px;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-family: inherit;
    border: none;
    background-color: rgb(78, 122, 245);
}

button:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

img {
    width: 200px;
}