<div [hidden]="isHidden">
  <h3>
    <a [title]="product.name + ' details'"
      [routerLink]="['/', categoryName, product.id]">{{ product.name }}</a>
  </h3>

  <a [href]="product.link" target="_blank"><img [src]="product.image[0]" class="main-img"></a>

  <div>
    <img src="/assets/images/like.jpg" width="25px" (click)="onLikeClick()"><span id="likes">{{likes}}</span>
  </div>

    
  <button id="removeBtn" (click)="removeElement()">Remove item</button>


  <p *ngIf="product.description">
    {{product.description}}
  </p>

  <p id="rating">Rating: {{product.rating}}/5 </p>

  <button *ngIf="product.image.length > 1" (click)="showGallery()"> {{ text }} </button>

  <div *ngIf="shownGallery" class="img-gallery">
    <img *ngFor="let img of product.image.slice(1)" [src]="img">
  </div>


  <a href="https://telegram.me/share/url?url={{ product.link }}&text={{ product.name }}" target="_blank">
    Share via Telegram
  </a>

  
  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>
 
  <hr>

</div>