<h1>Products</h1>

<div *ngFor="let product of products">
  <app-product-item
  [product]="product">
  </app-product-item>


  <a href="https://telegram.me/share/url?url={{ product.link }}&text={{ product.name }}" target="_blank">
    Share via Telegram
  </a>


  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>

  <hr>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->